<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <img class = "portrait other" src = "/img/18.jpg">
    <p>This is just a site that gets data from DarkSky and Mapbox!</p>
    {{>footer}}
</body>

</html>
